@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
    font-family: 'Black Ops One', cursive;
    --acsent-color: #BFDBF7;
    --off-white: #BFDBF7;
}

body {
    margin: 0;
    background: rgb(77, 186, 242);
    background: -moz-linear-gradient(180deg, rgba(77, 186, 242, 1) 4%, rgba(117, 193, 217, 1) 9%, rgba(18, 139, 176, 1) 16%, rgba(23, 137, 171, 1) 21%, rgba(24, 109, 146, 1) 34%, rgba(24, 83, 122, 1) 70%, rgba(27, 65, 93, 1) 98%);
    background: -webkit-linear-gradient(180deg, rgba(77, 186, 242, 1) 4%, rgba(117, 193, 217, 1) 9%, rgba(18, 139, 176, 1) 16%, rgba(23, 137, 171, 1) 21%, rgba(24, 109, 146, 1) 34%, rgba(24, 83, 122, 1) 70%, rgba(27, 65, 93, 1) 98%);
    background: linear-gradient(180deg, rgba(77, 186, 242, 1) 4%, rgba(117, 193, 217, 1) 9%, rgba(18, 139, 176, 1) 16%, rgba(23, 137, 171, 1) 21%, rgba(24, 109, 146, 1) 34%, rgba(24, 83, 122, 1) 70%, rgba(27, 65, 93, 1) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4dbaf2", endColorstr="#1b415d", GradientType=1);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header {

    --size: 25px;
    --R: calc(var(--size)*1.26);

    -webkit-mask:
        radial-gradient(var(--R) at 50% calc(1.8*var(--size)), #000 99%, #0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
        radial-gradient(var(--R) at 50% calc(-.8*var(--size)), #0000 99%, #000 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    background: linear-gradient(180deg, #bae2ee, #51AECA);

    height: 80px;
    margin-top: 30px;
    position: relative;
    animation: moveLeftAndRight 15s ease-in-out infinite alternate;
}

.test {
    width: 100%;
    height: 100px;

}

@keyframes moveLeftAndRight {
    0% {
        transform: translateX(0);
        width: 100%;
    }

    100% {

        width: 120%;
    }

}


.header-title {
    position: absolute;
    font-size: 45px;
    text-align: center;

    top: -20px;
    left: 50px;
}

.game-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.player-container {
    padding: 10px;
    border-radius: 15px;
    background-color: #2e9cc7;
    box-shadow: 5px 5px 15px rgb(7, 12, 36);
}

.player-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.player .miss {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 170, 224);
}

.miss::after {
    content: "X";

}

.player .hit {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 102, 102);
}

.hit::after {
    content: "X";
}

.cells {
    border: 1px solid black;
    transition: all 0.15s ease-in-out;
    background-color: #d1edff;
}

.cells:hover {
    background-color: #208ab4;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.button-container button {
    width: 35%;
    height: 30px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    background-color: var(--acsent-color);
    transition: all 0.2s ease-in-out;
}

.button-container button:hover {
    background-color: #80a3c7;
    border-radius: 15px;
}

.player {

    border-left: none;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
    column-gap: 0;
    margin-bottom: 20px;
}

.cells {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width: 35px;
    height: 35px;
}

.game-message {
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-message h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 60px;
    font-size: 25px;
    background-color: #39a4c5;
    box-shadow: 5px 5px 15px rgb(7, 12, 36);

    border-radius: 20px;

}

.remaining-ships {
    text-align: center;
    font-size: 20px;
}